body{
    background:darkgreen;
    font-family:Arial, Helvetica, sans-serif;

}

div{
    backcolor:lightyellow;
    color:blue;
    width:250px;
    padding:28px;
    border:8px;
    magin:4px;
}
H1{
    font-size:
color: red;
}